    .list-edit-book{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: white;
        border-bottom: none;
    }
    
    .item-edit-book{
        text-align: center;
        position: relative;
        color: black;
        background-color: #dfdfdf;
        margin-top: 4%;
    }
    
    .item-date{
        color: black;
        background-color: #dfdfdf;
        margin-top: 4%;
        border-radius: 50px;
    }
    
    
    .register{
        height: 40px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3%;
        text-align: center;
        text-transform: uppercase;
    }