page-home {

}

ion-slides{
    margin-top: -30%;
    height: 70%;
}

.swiper-pagination-bullet-active{
    background: #e67e22;
}

.icone{
    display: flex;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}
