.form-exibir{
    margin-left: 0%;
    margin-right: 0%; 
}

.list-exibir-wishlist{
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    background-color: white;
    border-bottom: none;
}

.item-exibir-wishlist{
    text-align: center;
    position: relative;
    color: black;
    background-color: #dfdfdf;
    margin-top: 4%;
}

.item-date{
    color: black;
    background-color: #dfdfdf;
    margin-top: 4%;
    border-radius: 50px;
}
